.cartaTitulo{
    margin-top: 20px;
    display: flex;
    margin-left: 22%;
    margin-bottom: 30px;
}
.footer p, h3{
    display: inline;
    margin-left:60px;
    margin-right: 40px;
    margin-top: 20px;
}
.parrafoFooter{
    margin-right: 40px;
    margin-top: 20px;
}
.body{
    background: linear-gradient(#FFF8D6, #FFD95A, #C07F00, #4C3D3D);
}

.formularioContacto{
    margin-top: 50px;
    padding-bottom: 20px;
    }